body
{
                  background-color: greenyellow;        

                  background-image: url(https://https://www.google.com/url?sa=i&url=https%3A%2F%2Famong-us.fandom.com%2Ff%2Fp%2F4400000000000036978%2Fr%2F4400000000000228872&psig=AOvVaw2I9nDGpWhrqi09VkzRQKs2&ust=1643457499800000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCNip0bWy1PUCFQAAAAAdAAAAABAE);
}
div
{
    
          background-image: url(https://https://www.google.com/url?sa=i&url=https%3A%2F%2Famong-us.fandom.com%2Ff%2Fp%2F4400000000000036978%2Fr%2F4400000000000228872&psig=AOvVaw2I9nDGpWhrqi09VkzRQKs2&ust=1643457499800000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCNip0bWy1PUCFQAAAAAdAAAAABAE);
}